*{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
body{
    background-color: #e2e2e2; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.banner{
    height: 200px; width: 100%; 
    position: relative; 
    background-image: url(img/coba.jpg); 
    background-size: cover;
}
.banner .text{
    justify-content: center; 
    height: 200px; 
    display: flex; 
    align-items: center;
}
.banner .text p{
    color: whitesmoke; 
    letter-spacing: 10px; 
    font-size: 50px; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.banner .content p{
    margin: 0 10% 0; 
    text-align: justify; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-top: 20px; font-size: 20px;
}
.banner .foto hr{
    margin: 0 10% 30px;
}
.banner .foto img{
    width: 220px;
    height: 220px;
    background-size: cover; 
    margin-top: 20px; 
    border-radius: 100%;
}
.banner .foto h6{
    font-size: 20px; 
    margin-top: 10px;
}
.banner .foto p{
    font-size: 14px;
}

/*untuk layar device berukuran kecil*/
@media screen and (max-width: 991px) {
    body::-webkit-scrollbar{
		display: none;
	}
    .banner .content p{
        margin: 20px 5%; 
        font-size: 15px;
    }
    .banner .foto img{
        width: 180px;
        height: 180px;
        background-size: cover; 
        margin-top: 20px; 
        border-radius: 100%;
    }
    .banner .foto hr{
        margin: 0 5%;
    }
    .banner .foto h6{
        font-size: 16px;
    }
    .banner .foto p{
        font-size: 10px;
    }
 }
